.showReplies {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.4rem 0.8rem;
  border-radius: 2rem;
  background-color: #caddf6;
  cursor: pointer;
}

.nestedComment {
  /* margin-top: 1rem; */
  margin-left: 0.4rem;
}
