.replies {
  display: flex;
  flex-direction: column;
}

.replies > textarea {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 0.4rem;
  font-size: 1rem;
  background-color: #fff;
  border-radius: 0.6rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  outline: none;
  resize: none;
}

.replies > div {
  align-self: flex-end;
}

.reply {
  cursor: pointer;
}
