.imageUploadForm {
  background-color: #fff;
  padding: 2rem 2.4rem;
  border-radius: 1.2rem;
  box-shadow: 2px 10px 23px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 10px 23px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 10px 23px -10px rgba(0, 0, 0, 0.75);

  display: flex;
  column-gap: 2rem;
}

.fileDropWrapper {
  min-height: 26rem;
  width: 40%;
  border-radius: 1.2rem;
}

.inputWrapper {
  flex: 1;
  margin-left: 2rem;
}

.inputWrapper textarea {
  height: 10rem;
}

@media only screen and (max-width: 768px) {
  .imageUploadForm {
    flex-direction: column;
  }

  .fileDropWrapper {
    flex-basis: 26rem;
    width: 100%;
  }
  .inputWrapper {
    margin-top: 2rem;
    margin-left: 0;
  }
}
